/*
	Att redigera i. 
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		min-width: 960px;
	}

	body
	{
		line-height: 1.75em;
		font-size: 10.75pt;
	}

	h2
	{
		font-size: 1.75em;
	}
	
	h3
	{
		font-size: 1.1em;
	}
	
	/* List */
	
		ul.style2
		{
		}
		
			ul.style2 li
			{
				line-height: 2.25em;
			}

	/* Button */

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			font-size: 1.25em;
			padding: 0.85em 1.5em;
		}

			input[type="button"].big,
			input[type="submit"].big,
			input[type="reset"].big,
			.button.big
			{
				font-size: 2em;
				padding: 0.85em 1em 0.85em 1em;
			}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		padding: 2em 0 0 0;
	}
	
	#features-wrapper
	{
		padding: 1.75em 0 1.75em 0;
	}
	
	#main-wrapper
	{
		padding: 4em 0 4em 0;
	}
	
	#footer-wrapper
	{
		padding: 4em 0 6em 0;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
	}

		#logo h1
		{
			margin-top: 0.15em;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	.dropotron
	{
	}
	
		.dropotron.level-0
		{
			font-size: 0.9em;
		}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 4em;
	}

		#banner h2
		{
			font-size: 3em;
			margin: 0.2em 0 0.5em 0;
		}

		#banner p
		{
			font-size: 2.25em;
		}
		
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#copyright
	{
		padding: 2em 0 0 0;
	}
	
/**********************************************************************************/
/*Instafeed                                                                       */
/**********************************************************************************/
#instafeed a {
background: #fff;
  padding:5px 5px 1px 5px;
  margin:5px;
  border:1px solid #f7f5ef;
  display:inline-block;
  border-radius: 6px;
  position:relative;
  max-width:45%;
  max-height:45%;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.015);
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
}

#instafeed .likes {
  background:rgba(15, 86, 255, 0.2);
  font-family:'Arial black';
  font-size:1em;
  position:absolute;
  color:#ffffff;
  right:5px;
  top:5px;
  left:5px;
  opacity:0;
  text-align:center;
  line-height:100%;
  text-shadow:0 1px rgba(0,0,0,0.5);
  -webkit-font-smoothing:antialiased;
  -webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	-ms-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#instafeed a:hover .likes {
  opacity:1;
}

#instafeed img {
max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}