


					<div id="header-wrapper">
				<header id="header" class="container">
				
					<!-- Logo -->
						<div id="logo">
							<h1><a href="@routes.Application.index()">Festivalkampen</a></h1>
							<span>av Grupp 11</span>
						</div>
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a name="toppen" href="@routes.Application.index()">Välkommen</a></li>
								<li>
											<a href="@routes.Application.spelhub()">Spel</a>
											<ul>
												<li><a href="@routes.Application.quizStart()">Quiz</a></li>
												<li><a href="@routes.Application.gruppAktivitet()">Gruppaktivitet</a></li>
											</ul>
									
								</li>
								<li><a href="@routes.Application.gruppSida()">Gruppsida</a></li>
								<li><a href="@routes.Application.kontakta()">Kontakta oss</a></li>
							</ul>
						</nav>
					
				</header>
			</div>