<script  src="@routes.Assets.at("/javascripts/chart.js")"></script>
									<div id="canvas-holder">
			                <canvas id="chart-area" width="240" height="150"/>
            		    </div>
        <script>
        jsRoutes.controllers.Application.getTeamStandings().ajax({
            success: function(data) {
                $("#result").html(data);
                if(result === "0_0-0+"){
                    alert("Problem med anslutning till databasen. Vänlig försök senare.");
                }
                console.log(data);
                var scalingRed = data.substring(0, data.indexOf('_'));
                var scalingBlue = data.substring((data.indexOf('_')+1), data.indexOf('-'));
                var scalingGreen = data.substring((data.indexOf('-')+1), data.indexOf('+'));
                var scalingRedInt = parseInt(scalingRed);
                var scalingBlueInt = parseInt(scalingBlue);
                var scalingGreenInt = parseInt(scalingGreen);
                console.log(scalingRedInt);
                	var pieData = [
				{
					value: scalingRedInt,
					color:"#FF0000",
					highlight: "#FF3333",
					label: "Röda laget"
				},
				{
					value: scalingBlueInt,
					color: "#0000FF",
					highlight: "#4D4DFF",
					label: "Blå laget"
				},
				{
					value: scalingGreenInt,
					color: "#59c203",
					highlight: "#5dc903",
					label: "Gröna laget"
				},

			];
			loadPieChart = function(){
				var ctx = document.getElementById("chart-area").getContext("2d");
				window.myPie = new Chart(ctx).Pie(pieData);
			};
			loadPieChart();
            },
            error: function() {
                alert("Problem uppstod vid hämtning av lagställningarna")
            }
        })
		
        </script>