
	
	
	<body class="homepage" onLoad="MM_preloadImages('../../../../pic03.jpg')">

		<!-- Header -->
					<div id="header-wrapper">
				<header id="header" class="container">
				
					<!-- Logo -->
						<div id="logo">
							<h1><a href="@routes.Application.index()">Festivalkampen</a></h1>
							<span>av Grupp 11</span>
						</div>
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a name="toppen" href="@routes.Application.index()">Välkommen</a></li>
								<li class="current">
											<a href="@routes.Application.spelhub()">Spel</a>
											<ul>
												<li><a href="@routes.Application.quizStart()">Quiz</a></li>
												<li><a href="@routes.Application.gruppAktivitet()">Skyrim</a></li>
											</ul>
									
								</li>
								<li><a href="@routes.Application.gruppSida()">Gruppsida</a></li>
								<li><a href="@routes.Application.kontakta()">Kontakta oss</a></li>
							</ul>
						</nav>
					
				</header>
			</div>
					
				</header>
			</div>
		
		<!-- Banner -->
			<div id="banner-wrapper">
<div class="box container"><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','../../../../pic03.jpg',1)"></a><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','../../../../pic03.jpg',1)"></a>
    <div class="row">
						<div class="7u">
						  <h2>Quizfråga nr. 1</h2>
						  		<!-- Features --><!-- Main -->
			<table  cellspacing="10">
			  <tr>
			    <td><label>
				<ul>
				<li id="svar3"><a href="#" class="button alt big icon fa-question-circle">Svar 1</a></li>
			    </ul>  
			    <td><label>
				<ul>
				<li id="svar3"><a href="#" class="button alt big icon fa-question-circle">Svar 2</a></li>
			    </ul>			
		      </tr>
			  <tr>
			    <td><label>
				<ul>
				<li id="svar3"><a href="#" class="button alt big icon fa-question-circle">Svar 3</a></li>
			    </ul>
			    <td><label>
				<ul>
				<li id="svar3"><a href="#" class="button alt big icon fa-question-circle">Svar 4</a></li>
			    </ul>	
		      </tr>
			</table>
			
									<div class="5u">
							<ul>
								<li id="start"><a href="@routes.Application.quiz()"
								class="button big icon fa-arrow-circle-right">Nästa fråga</a></li>
							</ul>
						</div>
</div>
					</div>
				</div>
	</div>
	
			<!-- Features --><!-- Main -->
			<table width="200" height="223">
			  <tr>
			    <td><label>
			      <input type="radio" name="RadioGroup1" value="alternativknapp" id="RadioGroup1_0">
@alt1</label></td>
		      </tr>
			  <tr>
			    <td><label>
			      <input type="radio" name="RadioGroup1" value="alternativknapp" id="RadioGroup1_1">
@alt2</label></td>
		      </tr>
			  <tr>
			    <td><label>
			      <input type="radio" name="RadioGroup1" value="alternativknapp" id="RadioGroup1_2">
@alt3</label></td>
		      </tr>
			  <tr>
			    <td><label>
			      <input type="radio" name="RadioGroup1" value="alternativknapp" id="RadioGroup1_3">
		        @alt4 </label></td>
		      </tr>
    </table>
<!-- Footer -->
		
		<form action=@routes.QuizController.registreraSvar() method="post" onclick="window.onbeforeunload = null;" onsubmit="return check2();">
					<br>
	
    	<button onClick="test()";>Nästa fråga</button>
    
    </form>
    	<form action=@routes.QuizController.raderaSvar() method="post" onclick="window.onbeforeunload = null;">
					<br>
	
    	<button id="radera">Radera svar</button>
    </form>
			<div id="footer-wrapper">
				<footer id="footer" class="container">
					<div class="row">
						<div class="3u">
						
		
