<!DOCTYPE HTML>

<html>
<style type="text/css">
#v{
    width:320px;
    height:240px;
}
#qr-canvas{
    display:none;
}
#result{
    display:none;
}
</style>
	<head>
		@import helper._
        @import controllers.routes.javascript._
		@Templates.head()
        <script type="text/javascript" src="@routes.Assets.at("/javascripts/llqrcode.js")"></script>
    <script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
    </script>
	</head>
	<body class="homepage">

		<!-- Header -->
		@Templates.header()
		
		<!-- Banner -->
			<div id="banner-wrapper">
				<div class="box container"><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','../../../../pic03.jpg',1)"></a><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','../../../../pic03.jpg',1)"></a>
		<div class="row">
						<div class="7u">
							<h2 id="welcome-text">Gruppaktiviteter!</h2>
								<p>Här kan du skanna QR-koder som erhålls under gruppaktiviteter för att tjäna poäng till ditt lag!</p>
							    <div class="select">
                                <label for="videoSource">Välj kamera: </label><select id="videoSource"></select>
                                <p> </p>
                                </div>
                                <script type="text/javascript" src="@routes.Assets.at("/javascripts/webqr.js")"></script>
								<div id="mainbody">
<table class="tsel" border="0" width="100%">
<tr>
<td valign="top" align="center" width="50%">
<table class="tsel" border="0">
<tr>
<tr><td colspan="2" align="center">
<div id="outdiv">
</div></td></tr>
</table>
</td>
</tr>
<tr></tr>
<tr><td colspan="3" align="center">
<div id="result"></div>
</td></tr>
</table>
</div>&nbsp;
<div id="footer">
<br>
</div>
</div>
<canvas id="qr-canvas" width="800" height="600"></canvas>
<script type="text/javascript">load();</script>
						</div>
		</div>
				</div>
		</div>
		
						
											<!-- Contact -->
							<center>
								@Templates.kontakta()
								
							</center>

	</body>
</html>