<!DOCTYPE HTML>

<html>
	<head>
		@Templates.head()
		<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
		<script  src="@routes.Assets.at("/javascripts/facebookSDK.js")"></script>
				<script>
	window.fbAsyncInit = function() {
			FB.init({
				appId      : '909582695765355',
				cookie     : true,  // enable cookies to allow the server to access 
									// the session
				xfbml      : true,  // parse social plugins on this page
				version    : 'v2.2' // use version 2.2
			});

			FB.getLoginStatus(function(response) {
				statusChangeCallback(response);
				if (response.status === 'connected') {
				    var loginTop = document.getElementById("loginTop");
		        	var loginTopA = document.createElement("a");
		        	var loginTopText = document.createTextNode("Logga ut");
		        	loginTopA.appendChild(loginTopText);
		        	loginTop.appendChild(loginTopA);
					loginTopA.href="javascript:FB.logout(function(response) {}); javascript:location.reload();";
					var navPanel = document.getElementById("navPanel");
		        	var navDiv = navPanel.getElementsByTagName( 'div' )[0];
		        	var navNav = navDiv.getElementsByTagName( 'nav' )[0];
		        	var knappen = document.createElement("a");
		        	knappen.className = "link depth-0";
		        	knappen.href = "javascript:FB.logout(function(response) {}); javascript:location.reload();";
		        	knappen.styleName ="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);";
		        	console.log(knappen);
		        	var spannet = document.createElement("span");
		        	spannet.class = "indent-0";
		        	knappen.appendChild(spannet);
		        	knappen.appendChild(loginTopText);
		        	navNav.appendChild(knappen);
					console.log('Logged in!');
					// Logged into your app and Facebook.
					FB.api('/me', function(response) {
						console.log(response);
				            var userId = ""+response.id;
				          			function hittaLag() {
				          			    console.log(userId);
								jsRoutes.controllers.Application.getTeam(userId).ajax({
                                success: function(data) {
                                    $("#result").html(data);
									if (data === "0") {
									document.getElementById("hittaLag").href = "@routes.Application.gruppSidaR()";
									document.getElementById("welcome-text").innerHTML = "Du tillhör grupp röd!";
									} else if (data === "1") {
									document.getElementById("hittaLag").href = "@routes.Application.gruppSidaB()";
									document.getElementById("welcome-text").innerHTML = "Du tillhör grupp blå!";
									} else if (data === "2") {
									document.getElementById("hittaLag").href = "@routes.Application.gruppSidaSvart()";
									document.getElementById("welcome-text").innerHTML = "Du tillhör grupp grön!!";
									}
                                },
                                error: function() {
                                    alert("Något gick fel med att hämta användar ID från databasen.")
                                }
                            })
				}
				hittaLag();
					});
				} else if (response.status === 'not_authorized') {
				    document.getElementById("hittaLag").href = "@routes.Application.gruppSidaR()";
					document.getElementById("welcome-text").innerHTML = "Var god att starta om applikationen !";
					document.getElementById("hittaLag").innerHTML = "Logga in";
					document.getElementById("hittaLag").href = "@routes.Application.login()";
					
				} else {
				    document.getElementById("hittaLag").href = "@routes.Application.login()";
					document.getElementById("welcome-text").innerHTML = "Du måste vara inloggad för att använda denna funktion";
					document.getElementById("hittaLag").innerHTML = "Logga in";
					var loginTop = document.getElementById("loginTop");
		        	var loginTopA = document.createElement("a");
		        	var loginTopText = document.createTextNode("Logga in");
		        	loginTopA.appendChild(loginTopText);
		        	loginTop.appendChild(loginTopA);
		        	loginTopA.href = "@routes.Application.login()";
		        	
		        	var navPanel = document.getElementById("navPanel");
		        	var navDiv = navPanel.getElementsByTagName( 'div' )[0];
		        	var navNav = navDiv.getElementsByTagName( 'nav' )[0];
		        	var knappen = document.createElement("a");
		        	knappen.className = "link depth-0";
		        	knappen.href = "@routes.Application.login()"
		        	console.log(knappen);
		        	var spannet = document.createElement("span");
		        	spannet.class = "indent-0";
		        	knappen.appendChild(spannet);
		        	knappen.appendChild(loginTopText);
		        	navNav.appendChild(knappen);
		        	//<a class="link depth-0" href="/views/kontakta.scala.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Kontakta oss</a>
		        	//Hitta navPanel
		        	//Hitta första div under navPanel
		        	//Hitta första nav under diven
		        	//Appenda en knapp enligt mönster ovan
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
				}
			});
		};
	    
		</script>
	</head>
	<body class="gruppsida">

		<!-- Header -->
			@Templates.header()
		
		<!-- Main -->
			<div id="banner-wrapper">
				<div id="banner" class="box container">
					<div class="row">
						<div class="7u">
							<h2 id="welcome-text">Välkommen</h2>
							<p>På gruppsidan kan du möta andra från din grupp.</p>
						</div>
						<div class="5u">
							<ul>
								<li id="login"><a id="hittaLag" href="#" class="button big icon fa-arrow-circle-right">Till ditt lag!</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			
						

							<!-- Contact -->
							<br>
							<center>
								@Templates.kontakta()
								
							</center>
	</body>
</html>