<!DOCTYPE HTML>

<html>
	<head>
		@Templates.head()
		<script  src="@routes.Assets.at("/javascripts/facebookSDK.js")"></script>
		<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
				<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '909582695765355',
				cookie     : true,  // enable cookies to allow the server to access 
									// the session
				xfbml      : true,  // parse social plugins on this page
				version    : 'v2.2' // use version 2.2
			});
	        	FB.Event.subscribe('auth.logout', function(){
			window.location.href = "@routes.Application.index()";
			});
			// Now that we've initialized the JavaScript SDK, we call 
			// FB.getLoginStatus().  This function gets the state of the
			// person visiting this page and can return one of three states to
			// the callback you provide.  They can be:
			//
			// 1. Logged into your app ('connected')
			// 2. Logged into Facebook, but not your app ('not_authorized')
			// 3. Not logged into Facebook and can't tell if they are logged into
			//    your app or not.
			//
			// These three cases are handled in the callback function.

			FB.getLoginStatus(function(response) {
				statusChangeCallback(response);
				if (response.status === 'connected') {
					// Logged into your app and Facebook.
					var loginTop = document.getElementById("loginTop");
		        	var loginTopA = document.createElement("a");
		        	var loginTopText = document.createTextNode("Logga ut");
		        	loginTopA.appendChild(loginTopText);
		        	loginTop.appendChild(loginTopA);
					loginTopA.href="javascript:FB.logout(function(response) {});";
					var navPanel = document.getElementById("navPanel");
		        	var navDiv = navPanel.getElementsByTagName( 'div' )[0];
		        	var navNav = navDiv.getElementsByTagName( 'nav' )[0];
		        	var knappen = document.createElement("a");
		        	knappen.className = "link depth-0";
		        	knappen.href = "javascript:FB.logout(function(response) {});";
		        	knappen.styleName ="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);";
		        	console.log(knappen);
		        	var spannet = document.createElement("span");
		        	spannet.class = "indent-0";
		        	knappen.appendChild(spannet);
		        	knappen.appendChild(loginTopText);
		        	navNav.appendChild(knappen);
					console.log('Logged in!');
				} else if (response.status === 'not_authorized') {
					// The person is logged into Facebook, but not your app.
				} else {
					var loginTop = document.getElementById("loginTop");
		        	var loginTopA = document.createElement("a");
		        	var loginTopText = document.createTextNode("Logga in");
		        	loginTopA.appendChild(loginTopText);
		        	loginTop.appendChild(loginTopA);
		        	loginTopA.href = "@routes.Application.login()";
		        	
		        	var navPanel = document.getElementById("navPanel");
		        	var navDiv = navPanel.getElementsByTagName( 'div' )[0];
		        	var navNav = navDiv.getElementsByTagName( 'nav' )[0];
		        	var knappen = document.createElement("a");
		        	knappen.className = "link depth-0";
		        	knappen.href = "@routes.Application.login()"
		        	console.log(knappen);
		        	var spannet = document.createElement("span");
		        	spannet.class = "indent-0";
		        	knappen.appendChild(spannet);
		        	knappen.appendChild(loginTopText);
		        	navNav.appendChild(knappen);
		        	//<a class="link depth-0" href="/views/kontakta.scala.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Kontakta oss</a>
		        	//Hitta navPanel
		        	//Hitta första div under navPanel
		        	//Hitta första nav under diven
		        	//Appenda en knapp enligt mönster ovan
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	
				}
			});
		};
	</script>
	</head>
	<body class="gruppsida">

		<!-- Header -->
			@Templates.header()
		
		<!-- Main -->
			<div id="banner-wrapper">
				<div id="banner" class="box container">
					<div class="row">
						<div class="7u">
							<h2 id="welcome-text">Välkommen till Röd</h2>
							<p>Här kan du twittra med andra från din grupp.</p>
						</div>
						<div class="5u">
						@Templates.piechart()
						</div>
					</div>
				</div>
			</div>

					<!-- Features -->
			<div id="features-wrapper">
				<div class="container">
					<div class="row">
						<div class="4u">
						
							<!-- Box -->
								<section class="box feature">
									<a class="twitter-timeline"
										href="https://twitter.com/hashtag/FKBl%C3%A5"
										data-widget-id="603141368190541826">
										#FKRöd Tweets

									</a>

									<script>
											!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],
											p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);
											js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);
											}}(document,"script","twitter-wjs");
									</script> 
										<p>Twittra gärna om festivalen!</p>

												<div class="fb-page" data-href="https://www.facebook.com/facebook"
										data-width="380" data-hide-cover="false" data-show-facepile="false" 
										data-show-posts="true">
									</div>

								</div>
							</a>
						</div>
						

							<!-- Contact -->
							<br>
							<center>
								@Templates.kontakta()
								
							</center>
	</body>
</html>