<!DOCTYPE HTML>
<!--
	PVT 15 - Grupp 11
    Anledningen till varför det står på engelska är pga arbetsskada haha!!
    Har även mycket automatgenererad kod via Dreamweaver. 
-->
<html>


	<head>
	<script>
	window.fbAsyncInit = function() {
			FB.init({
				appId      : '909582695765355',
				cookie     : true,  // enable cookies to allow the server to access 
									// the session
				xfbml      : true,  // parse social plugins on this page
				version    : 'v2.2' // use version 2.2
			});
	
			// Now that we've initialized the JavaScript SDK, we call 
			// FB.getLoginStatus().  This function gets the state of the
			// person visiting this page and can return one of three states to
			// the callback you provide.  They can be:
			//
			// 1. Logged into your app ('connected')
			// 2. Logged into Facebook, but not your app ('not_authorized')
			// 3. Not logged into Facebook and can't tell if they are logged into
			//    your app or not.
			//
			// These three cases are handled in the callback function.
			
		    
			FB.getLoginStatus(function(response) {
				statusChangeCallback(response);
				var logout = document.getElementById("logout");
				if (response.status === 'connected') {
					// Logged into your app and Facebook.
		        	var loginTop = document.getElementById("loginTop");
		        	var loginTopA = document.createElement("a");
		        	var loginTopText = document.createTextNode("Logga ut");
		        	loginTopA.appendChild(loginTopText);
		        	loginTop.appendChild(loginTopA);
					loginTopA.href="javascript:FB.logout(function(response) {}); javascript:location.reload();";
					var navPanel = document.getElementById("navPanel");
		        	var navDiv = navPanel.getElementsByTagName( 'div' )[0];
		        	var navNav = navDiv.getElementsByTagName( 'nav' )[0];
		        	var knappen = document.createElement("a");
		        	knappen.className = "link depth-0";
		        	knappen.href = "javascript:FB.logout(function(response) {}); javascript:location.reload();";
		        	knappen.styleName ="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);";
		        	console.log(knappen);
		        	var spannet = document.createElement("span");
		        	spannet.class = "indent-0";
		        	knappen.appendChild(spannet);
		        	knappen.appendChild(loginTopText);
		        	navNav.appendChild(knappen);
					
					//<li id="logoutTop"><a id = "logoutTopA" href ="javascript:FB.logout(function(response) {}); javascript:location.reload();">Logga ut</a></li>
					//<a id = "loginTopA" href="@routes.Application.login()">Logga in</a>
					console.log('Logged in!');
					var login = document.getElementById("login");
					login.style.display = 'none';
					logout.style.display = 'initial';
					//login.innerHTML = '<li id="login"><a onclick="FB.logout(function(response) {}); location.reload();" class="button big icon fa-arrow-circle-right">Logga ut</a></li>';
					var welcomeText = document.getElementById("welcome-text");
					FB.api('/me', function(response) {
						console.log(response);
						welcomeText.innerHTML = "Välkommen till Festivalkampen " + response.first_name + "!";
						//Här vill vi köra updateUserTable()
				        var updateDatabase = function() {
				            var userId = ""+response.id;
				            var userGender = ""+response.gender;
				            var userFullName = ""+response.first_name+" "+response.last_name;
				            var userEmail = ""+response.email;
				            console.log(userId);
				            console.log(userGender);
				            console.log(userFullName);
				            console.log(userEmail);
                            jsRoutes.controllers.Application.updateUserTable(userId, userGender, userFullName, userEmail).ajax({
                                success: function(data) {
                                    $("#result").html(data);
                                },
                                error: function() {
                                    alert("Problem med anslutningen till Facebook.")
                                }
                            })
                        };
						updateDatabase();
					});
				} else if (response.status === 'not_authorized') {
					logout.style.display = 'none';
				} else {
					logout.style.display = 'none';
					var loginTop = document.getElementById("loginTop");
		        	var loginTopA = document.createElement("a");
		        	var loginTopText = document.createTextNode("Logga in");
		        	loginTopA.appendChild(loginTopText);
		        	loginTop.appendChild(loginTopA);
		        	loginTopA.href = "@routes.Application.login()";
		        	
		        	var navPanel = document.getElementById("navPanel");
		        	var navDiv = navPanel.getElementsByTagName( 'div' )[0];
		        	var navNav = navDiv.getElementsByTagName( 'nav' )[0];
		        	var knappen = document.createElement("a");
		        	knappen.className = "link depth-0";
		        	knappen.href = "@routes.Application.login()"
		        	console.log(knappen);
		        	var spannet = document.createElement("span");
		        	spannet.class = "indent-0";
		        	knappen.appendChild(spannet);
		        	knappen.appendChild(loginTopText);
		        	navNav.appendChild(knappen);
		        	//<a class="link depth-0" href="/views/kontakta.scala.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Kontakta oss</a>
		        	//Hitta navPanel
		        	//Hitta första div under navPanel
		        	//Hitta första nav under diven
		        	//Appenda en knapp enligt mönster ovan
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	
				}
			});
		};
		</script>

	</head>
	<body class="homepage">
	    @Templates.head()
	    @Templates.header()
	    @import helper._
        @import controllers.routes.javascript._
		<script  src="@routes.Assets.at("/javascripts/facebookSDK.js")"></script>
		<script  src="@routes.Assets.at("/javascripts/instafeed.js")"></script>
		<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
		<!--[if lte IE 8]><link rel="stylesheet" href="@routes.Assets.at("stylesheets/css/ie/v8.css")" /><![endif]-->
		<!-- Header -->
		<!-- Banner -->
	
		<!-- Main -->
			<div id="banner-wrapper">
				<div id="banner" class="frambild container">
					<div class="row">
						<div class="7u">
							<h2 id="welcome-text">Välkommen!</h2>
							<div span>
							Festivalkampen är den ultimata festivalappen, tävla mot andra besökare i exempelvis bildtävlingar, festivalanpassade quiz och massa annat kul! 
							<p></p>
							Logga in idag för att vinna fina priser genom att dela din upplevelse och tävla mot dina vänner.
							</div>
							
						</div>
						<div class="5u">
							<ul>
								<center>
								<h3>Ställningarna just nu!</h3>
								@Templates.piechart()
								</center>
								<br>
								<li id="login"><a href="@routes.Application.login()" class="button big icon fa-arrow-circle-right">Logga in</a></li>	
								<li id="logout"><a onclick="FB.logout(function(response) {}); location.reload();" class="button big icon fa-arrow-circle-right">Logga ut</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		
		<br>
		<center>
		    <div id="instafeedrubrik">
				<instafeedrubrik>Tagga din bild #pvtgrupp11 på Instagram!</instafeedrubrik>
		    </div>
	    </center>
		
		<center>
			@Templates.instafeed()
		</center
		<p></p>

		
						<p> </p>
							<!-- Contact -->
							<center>
								@Templates.kontakta()
								
							</center>

	</body>
</html>