 <!DOCTYPE HTML>
 
  <html>
      <head>
			@Templates.head()
			<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
      </head>
      <body class="no-sidebar">
  
      <!-- Header -->
			
			@Templates.header()
          
          <!-- Main -->
              <div id="main-wrapper">
                  <div class="container">
                      <div id="content">
  
                          <!-- Content -->
                                  <h2>Kontakta oss</h2>
								  	<section class="box feature">
									<a class="twitter-timeline"
										href="https://twitter.com/hashtag/Festivalkampen"
										data-widget-id="596259077593931776">
										#Festivalkampen Tweets
										</a>

									</a> 

									<script>
										             
										!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],
										p=/^http:/.test(d.location)?'http':'https';
										if(!d.getElementById(id)){js=d.createElement(s);
										js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
										fjs.parentNode.insertBefore(js,fjs);
											}}
											(document,"script","twitter-wjs");
									</script> 
										<p>Festivalkampens Twitter</p>

                  								<h3>Facebook</h3>
										<div class="fb-page" data-href="https://www.facebook.com/groups/608374422633736/"
										data-width="380" data-hide-cover="false" data-show-facepile="false" 
										data-show-posts="true">
										</div>
                      </div>
                  </div>
              </div>

							<!-- Contact -->
							<center>
								@Templates.kontakta()
							</center>
  
      </body>
  </html>