 <!DOCTYPE HTML>
 
  <html>
      <head>
			@Templates.head()
      </head>
      <body class="no-sidebar">
  
      <!-- Header -->
			
			@Templates.header()
          
          <!-- Main -->
              <div id="main-wrapper">
                  <div class="container">
                      <div id="content">
  
                          <!-- Content -->
                                  <h2>Kontakta oss</h2>
                                  <p>Här kan man alltid göra ett kontaktformulär som kopplas. </p>
                                      <!-- Fixa formula för inloggningsformuläret -->
                                      <!--<div class="sign-in-form">
                                            <div class="in-form Personal">-->
                  								<h3>Skapa nytt konto</h3>
                  								<ul>
                      								<li><a href="#" class="facebook">Facebook</a></li>
                      								<li><a href="#" class="twitter">Twitter</a></li>
                     								<li><a href="#" class="g-plus">Google</a></li>
                  								</ul>
                  								<h4>Personlig information</h4>
                  								<form>
                      								<input type="text" placeholder="Förnamn*" required>
                      								<input type="text" placeholder="Efternamn*" required>
                     								<input type="text" placeholder="Emailadress*" required>
                  								</form>
                  								<h5>Inloggningsinformation</h5>
                  								<form>
                      								<input type="password" placeholder="Lösenord*" required>
                      								<input type="password" placeholder="Bekräfta lösenord*" required>
                      								<input type="submit" value="Bekräfta">
                  								</form>
  
                      </div>
                  </div>
              </div>
                
							<!-- Contact -->
							<center>
								@Templates.kontakta()
							</center>
  
      </body>
  </html>