<!DOCTYPE HTML>

<html>

<head>
    @import helper._
    @import controllers.routes.javascript._
    @Templates.head()
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    <script  src="@routes.Assets.at("/javascripts/facebookSDK.js")"></script>
    <script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '909582695765355',
				cookie     : true,  // enable cookies to allow the server to access 
									// the session
				xfbml      : true,  // parse social plugins on this page
				version    : 'v2.2' // use version 2.2
			});
		FB.Event.subscribe('auth.logout', function(){
			window.location.href = "@routes.Application.index()";
			});
			// Now that we've initialized the JavaScript SDK, we call 
			// FB.getLoginStatus().  This function gets the state of the
			// person visiting this page and can return one of three states to
			// the callback you provide.  They can be:
			//
			// 1. Logged into your app ('connected')
			// 2. Logged into Facebook, but not your app ('not_authorized')
			// 3. Not logged into Facebook and can't tell if they are logged into
			//    your app or not.
			//
			// These three cases are handled in the callback function.

			FB.getLoginStatus(function(response) {
				statusChangeCallback(response);
				if (response.status === 'connected') {
					// Logged into your app and Facebook.
					var loginTop = document.getElementById("loginTop");
		        	var loginTopA = document.createElement("a");
		        	var loginTopText = document.createTextNode("Logga ut");
		        	loginTopA.appendChild(loginTopText);
		        	loginTop.appendChild(loginTopA);
					loginTopA.href="javascript:FB.logout(function(response) {});";
					var navPanel = document.getElementById("navPanel");
		        	var navDiv = navPanel.getElementsByTagName( 'div' )[0];
		        	var navNav = navDiv.getElementsByTagName( 'nav' )[0];
		        	var knappen = document.createElement("a");
		        	knappen.className = "link depth-0";
		        	knappen.href = "javascript:FB.logout(function(response) {});";
		        	knappen.styleName ="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);";
		        	console.log(knappen);
		        	var spannet = document.createElement("span");
		        	spannet.class = "indent-0";
		        	knappen.appendChild(spannet);
		        	knappen.appendChild(loginTopText);
		        	navNav.appendChild(knappen);
					console.log('Logged in!');
				} else if (response.status === 'not_authorized') {
					// The person is logged into Facebook, but not your app.
				} else {
					var loginTop = document.getElementById("loginTop");
		        	var loginTopA = document.createElement("a");
		        	var loginTopText = document.createTextNode("Logga in");
		        	loginTopA.appendChild(loginTopText);
		        	loginTop.appendChild(loginTopA);
		        	loginTopA.href = "@routes.Application.login()";
		        	
		        	var navPanel = document.getElementById("navPanel");
		        	var navDiv = navPanel.getElementsByTagName( 'div' )[0];
		        	var navNav = navDiv.getElementsByTagName( 'nav' )[0];
		        	var knappen = document.createElement("a");
		        	knappen.className = "link depth-0";
		        	knappen.href = "@routes.Application.login()"
		        	console.log(knappen);
		        	var spannet = document.createElement("span");
		        	spannet.class = "indent-0";
		        	knappen.appendChild(spannet);
		        	knappen.appendChild(loginTopText);
		        	navNav.appendChild(knappen);
		        	//<a class="link depth-0" href="/views/kontakta.scala.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Kontakta oss</a>
		        	//Hitta navPanel
		        	//Hitta första div under navPanel
		        	//Hitta första nav under diven
		        	//Appenda en knapp enligt mönster ovan
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	
				}
			});
		};
	</script>
</head>
    
<body class="fotofeed">
    <!-- Header -->
    @Templates.header()
    
    <!-- Main -->

    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <div class="row">
                <div class="7u">
                    <h2 id="welcome-text">Fototävling</h2>
                    <p>Här kan du se allas bidrag till fototävlingen. Klicka på knappen nedan för att fånga ditt favoritögonblick för chans till ära och poäng!</p>
                    <ul>
                        <li id="camera"><a href="@routes.Application.fotoSida()" class="button big icon fa-arrow-circle-right">Till kameran!</a></li>	
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <div class="row">
                <div id = "picList" class="7u">
                    
                    
                </div>
                <ul>
				    <li id="buttonlist">
				    <button id="nextbutton" onclick = "nextPage()" class="button big icon fa-arrow-circle-right">Ladda fler</button>
				    </li>
				</ul>
            </div>
        </div>
    </div>
    <!-- Features -->
    <div id="features-wrapper">
        <div class="container">
            <div class="row">
                
                <div class="4u">
                   
                </div>
                
            </div>
        </div>
        <script>
    var currentImage = 0;
    var currentPage = 4;
    getPhotos = function(){
        if(currentImage >= currentPage){
            return;
        }
        currentImage++;
        setTimeout(function(){
            jsRoutes.controllers.Application.getPhotos(""+currentImage).ajax({
            success: function(data) {
                $("#result").html(data);
                console.log("Data är: "+data);
                if(data === "/"){
                    console.log("Slut på bilder. Return!");
                    var nextBtn = document.getElementById("nextbutton");
                    nextBtn.style.display = "none";
                    return;
                }
                var picList = document.getElementById("picList");
                var linkPic = document.createElement("a");
                var picArea = document.createElement("img");
                var takenByPara = document.createElement("p");
                var takenByText = document.createTextNode("Av: "+data.substring((data.indexOf("/")+1), data.length));
                takenByPara.appendChild(takenByText);
                var picSource = data.substring(0, data.indexOf("/"));
                linkPic.href = "/assets/photos/"+picSource;
                picArea.height=200;
                picArea.width=200;
                picArea.src = "/assets/photos/"+picSource;
                picList.appendChild(linkPic);
                linkPic.appendChild(picArea);
                picList.appendChild(takenByPara);
                var fillerbr1 = document.createElement("br");
                var fillerbr2 = document.createElement("br");
                picList.appendChild(fillerbr1);
                picList.appendChild(fillerbr2);
                getPhotos();
            },
            error: function() {
                alert("Problem when accessing photos")
            }
        })
        }, 1000);
    }
    getPhotos();
    
    nextPage = function(){
      currentPage+=4;
      getPhotos();
    }
    
    </script>
        <!-- Box -->
        <section class="box feature">
        </section>
        <!-- Contact -->
		<br>
        <center>
            @Templates.kontakta()

        </center>
    </div>
</body>
</html>