<!DOCTYPE HTML>
<!--
	PVT 15 - Grupp 11
    Anledningen till varför det står på engelska är pga arbetsskada haha!!
    Har även mycket automatgenererad kod via Dreamweaver. 
-->
<html>
	<head>
		@Templates.head()
		<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->

	</head>
	<body class="homepage" onLoad="MM_preloadImages('../../../../pic03.jpg')">

		<!-- Header -->
				@Templates.header()
		
		<!-- Banner -->
			<div id="banner-wrapper">
<div class="container"><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','../../../../pic03.jpg',1)"></a><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','../../../../pic03.jpg',1)"></a></div>
	</div>
		
<!-- Footer -->
			<div id="banner-wrapper">
				<div id="banner" class="box container">
					<div class="row">
						<div class="7u">
							<h2 id="welcome-text">Ditt bidrag till slaget har registrerats</h2>
							<p>Så här ser ställningarna ut efter ditt bidrag!</p>
						</div>
							@Templates.piechart()
						</div>
					</div>
				</div>
			</div>
						<div class="5u">

						
							<!-- Contact -->
							<center>
								
								@Templates.kontakta()
								
							</center>

	</body>
</html>