<!DOCTYPE html>
<html>
<script src ="https://code.jquery.com/jquery-1.10.2.js"></script>
<body>
  Fråga 1: Hur stavas Justin Bieber? <br>
  <br>
  
<form>
<input type="radio" id="answer" name="Lorem Ipsum" value="A">A: Bieber stavas Bieber<br>
<input type="radio" id="answer" name="Lorem Ipsum" value="B">B: Bieber stavas Bäber<br>
<input type="radio" id="answer" name="Lorem Ipsum" value="C">C: Bieber stavas buber<br>
<input type="radio" id="answer" name="Lorem Ipsum" value="D">D: Bieber stavas biiber<br>

<input onClick="JSONAnswerObject()" type="button" id="answer" name="theSubmit" value="Svara"/>
</form>

<script type = "text/javascript">

  function JSONAnswerObject() {
            alert("baboom");
          var data = "A";
        $.ajax( {
            data: data,
            type: "GET",
            url: "/postquiz",
            dataType: "application/json",
            contentType: "application/json; charset=utf-8",
            success: alert(data)
            
            
        })
  }


 </script>

</body>
</html>
