
@(message: String, alt1: String,alt2 : String,alt3: String, alt: String4)
    @import helper._
        @import controllers.routes.javascript._
<!DOCTYPE HTML>
<html>
 <head>
<script src ="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="@routes.QuizController.javascriptRoutes"></script>
 </head>
    @message
    <body>
    <form action=@routes.QuizController.registreraSvar() method="post">
					<br>
		<input type="radio" name="svar" value="male">@alt1
		<input type="radio" name="svar" value="female">@alt2
		<input type="radio" name="svar" value="male">@alt3
		<input type="radio" name="svar" value="female">@alt4<br>
    	<button onClick="test()">Klar</button>
    </form>

	<script type="text/javascript" charset="utf-8">

	function test() {
	  var svar = document.getElementsByName("Svar");
	  var len = svar.length
      for(i = 0; i < len; i++) {
      	if(svar[i].checked) {
      		var answer = i;
      	}
      }          
      jsRoutes.controllers.QuizController.sayHello(answer).ajax({
      
        success: function(data) {
        	alert("success");
          $("#result").html(data);
        },
        error: function() {
          alert("Error!")
        }
      })
    };
 </script>

	</body>
</html>








<script type="text/javascript" charset="utf-8">

	function test() {
	  var svar = document.getElementsByName("Svar");
	  var len = svar.length
      for(i = 0; i < len; i++) {
      	if(svar[i].checked) {
      		var answer = i;
      	}
      }          
      jsRoutes.controllers.QuizController.sayHello(answer).ajax({
      
        success: function(data) {
        	alert("success");
          $("#result").html(data);
        },
        error: function() {
          alert("Error!")
        }
      })
    };
 </script>
 

</body>
</html>