<!DOCTYPE HTML>
<!--
	PVT 15 - Grupp 11
    Anledningen till varför det står på engelska är pga arbetsskada haha!!
    Har även mycket automatgenererad kod via Dreamweaver. 
-->
<html>

	<head>
		@Templates.head()
		<script  src="@routes.Assets.at("/javascripts/facebookSDK.js")"></script>
		<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
		</head>
	<script>
	window.fbAsyncInit = function() {
			FB.init({
				appId      : '909582695765355',
				cookie     : true,  // enable cookies to allow the server to access 
									// the session
				xfbml      : true,  // parse social plugins on this page
				version    : 'v2.2' // use version 2.2
			});
	        
	        FB.Event.subscribe('auth.logout', function(){
			    window.location.href = "@routes.Application.index()";
			});
	        
			// Now that we've initialized the JavaScript SDK, we call 
			// FB.getLoginStatus().  This function gets the state of the
			// person visiting this page and can return one of three states to
			// the callback you provide.  They can be:
			//
			// 1. Logged into your app ('connected')
			// 2. Logged into Facebook, but not your app ('not_authorized')
			// 3. Not logged into Facebook and can't tell if they are logged into
			//    your app or not.
			//
			// These three cases are handled in the callback function.
			
			FB.getLoginStatus(function(response) {
			    console.log("Är vi anslutna?");
				statusChangeCallback(response);
				if (response.status === 'connected') {
				    var loginTop = document.getElementById("loginTop");
		        	var loginTopA = document.createElement("a");
		        	var loginTopText = document.createTextNode("Logga ut");
		        	loginTopA.appendChild(loginTopText);
		        	loginTop.appendChild(loginTopA);
					loginTopA.href="javascript:FB.logout(function(response) {});";
					var navPanel = document.getElementById("navPanel");
		        	var navDiv = navPanel.getElementsByTagName( 'div' )[0];
		        	var navNav = navDiv.getElementsByTagName( 'nav' )[0];
		        	var knappen = document.createElement("a");
		        	knappen.className = "link depth-0";
		        	knappen.href = "javascript:FB.logout(function(response) {});";
		        	knappen.styleName ="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);";
		        	console.log(knappen);
		        	var spannet = document.createElement("span");
		        	spannet.class = "indent-0";
		        	knappen.appendChild(spannet);
		        	knappen.appendChild(loginTopText);
		        	navNav.appendChild(knappen);
					// Logged into your app and Facebook.
					FB.api('/me', function(response) {
						console.log(response);
						var userId = ""+response.id;
						var startButton = document.getElementById('startBtn');
						startButton.style.display = "initial";
						var userIdPara = document.getElementById("userId");
						var userIdText = document.createTextNode(userId);
						userIdPara.appendChild(userIdText);
						userIdPara.style.display = 'none';
	          			jsRoutes.controllers.Application.taId(userId).ajax({
                                success: function(data) {
                                    $("#result").html(data);
                                	console.log("Nu hämtar vi id");
                                	console.log("Data är: " + data);
                                	if(data === "1"){
                                		window.location = "@routes.Application.quizKlarsida()";
                                	}
                                },
                                error: function() {
                                    alert("Problem med anslutningen till Facebook.")
                                }
                            })
					});
				} else if (response.status === 'not_authorized') {
					window.location = "@routes.Application.quizInteInloggad()";
				} else {
					window.location = "@routes.Application.quizInteInloggad()";
					var loginTop = document.getElementById("loginTop");
		        	var loginTopA = document.createElement("a");
		        	var loginTopText = document.createTextNode("Logga in");
		        	loginTopA.appendChild(loginTopText);
		        	loginTop.appendChild(loginTopA);
		        	loginTopA.href = "@routes.Application.login()";
		        	
		        	var navPanel = document.getElementById("navPanel");
		        	var navDiv = navPanel.getElementsByTagName( 'div' )[0];
		        	var navNav = navDiv.getElementsByTagName( 'nav' )[0];
		        	var knappen = document.createElement("a");
		        	knappen.className = "link depth-0";
		        	knappen.href = "@routes.Application.login()"
		        	console.log(knappen);
		        	var spannet = document.createElement("span");
		        	spannet.class = "indent-0";
		        	knappen.appendChild(spannet);
		        	knappen.appendChild(loginTopText);
		        	navNav.appendChild(knappen);
		        	//<a class="link depth-0" href="/views/kontakta.scala.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Kontakta oss</a>
		        	//Hitta navPanel
		        	//Hitta första div under navPanel
		        	//Hitta första nav under diven
		        	//Appenda en knapp enligt mönster ovan
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
		        	navNav.removeChild(navNav.childNodes[1]);
				}
			});
		};
		
		function startQuiz(){
			var userId = document.getElementById("userId").innerHTML;
			jsRoutes.controllers.QuizController.quiz(userId).ajax({
                                success: function(data) {
                                    $("#result").html(data);
                                	console.log("Nu kör vi startquiz()");
                                	window.location = "@routes.Application.quizBegin()";
                                },
                                error: function() {
                                    alert("Problem vid quizstart!");
                                }
                            })
		}
		</script>
	<body>

	@Templates.header()
<p id = userId></p>
<!-- Footer -->
			<div id="banner-wrapper">
				<div id="banner" class="box container">
					<div class="row">
						<div class="7u">
							<h2 id="welcome-text">Det har kommit ett nytt quiz!</h2>
							<p>Åtta frågor med 4 svarsalternativ. 
							Försök att svara rätt på samtliga för att samla maximal poäng till ditt lag!</p>
						</div>
						<div class="5u">
							<ul>
								<li id="start"><a id = "startBtn" href="javascript:startQuiz();"
								class="button big icon fa-arrow-circle-right">Starta quiz</a></li>
								<script>
								    var startButtonLink = document.getElementById("startBtn");
	                                startButtonLink.style.display = 'none';
								</script>
							</ul>
						</div>
					</div>
				</div>
			</div>
						
							<!-- Contact -->
							<br>
							<center>
								@Templates.kontakta()
								
							</center>

	</body>
</html>