<!DOCTYPE HTML>
<!--
	PVT 15 - Grupp 11
    Anledningen till varför det står på engelska är pga arbetsskada haha!!
    Har även mycket automatgenererad kod via Dreamweaver. 
-->
<html>
	<head>
		@Templates.head()
	</head>
	<body class="homepage" onLoad="MM_preloadImages('../../../../pic03.jpg')">

		<!-- Header -->
			@Templates.header()
		<!-- Banner -->
		
<!-- Footer -->
			<div id="banner-wrapper">
				<div id="banner" class="box container">
					<div class="row">
						<div class="7u">
							<h2 id="welcome-text">Det har kommit ett nytt quiz!</h2>
							<p>Åtta frågor med 4 svarsalternativ. 
							Försök att svara rätt på samtliga för att samla maximal poäng till ditt lag!</p>
						</div>
						<div class="5u">
							<ul>
								<li id="start"><a href="@routes.QuizController.quiz()"
								class="button big icon fa-arrow-circle-right">Starta quiz</a></li>
								
									<li id="start"><a href="@routes.Application.quizAvslut()"
								class="button big icon fa-arrow-circle-right">Quiz avslut</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
						
							<!-- Contact -->
							<center>
								@Templates.kontakta()
								
							</center>

	</body>
</html>