<!DOCTYPE HTML>

<html>
	<head>
		@Templates.head()
		<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
	</head>
		<!-- Header -->
				@Templates.header()
				<!-- Banner -->

<!-- Footer -->
			<div id="banner-wrapper">
				<div id="banner" class="box container">
					<div class="row">
						<div class="7u">
							<h2 id="welcome-text">Ditt bidrag till slaget har registrerats</h2>
							<p>Så här ser ställningarna ut efter ditt bidrag!</p>
						</div>
							@Templates.piechart()
						</div>
					</div>
				</div>
							<!-- Contact -->
							<center>
								@Templates.kontakta()
							</center>

	</body>
</html>